<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% ratings.each do |rated| %>
      <tr>
        <td><%= link_to rated.name, rated %></td>
        <td><span class="badge"><%= round(rated.average_rating) %></span></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>